$boxColor: #daaaef;
:host {
	display: block;
	position: relative;
	border-color: $boxColor;
}
h2 {
	font-size: var(--font-size-h2);
	font-family: var(--font-family-h2);
	background-color: $boxColor;
	color: white;
	position: absolute;
    padding: 4px 10px 14px 10px;
    top: 0;
    left: 0;
	width: 100%;
}
p {
	margin: 0 0 20px 0;
}
button {
	margin: 0 auto;
	position: absolute;
	left: 20px;
	bottom: 20px;
	right: 20px;
}
canvas {
	position: absolute;
    top: 64px;
    left: 20px;
    width: calc( 100% - 40px );
	height: calc( 100% - 140px );
	background: white;
}